#root {
  overflow-x: hidden;
}

.head {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.subHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 60vw;
}

.navbar {
  display: flex;
  width: 35vw;
  justify-content: space-evenly;
  align-items: baseline;
}

a:hover {
  cursor: pointer;
} 
