* {
  text-align: center;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  color: #ffffff;
  text-shadow: 0px 0px 8px black;
  font-family: 'Quicksand', sans-serif;
}

html {
  overflow-y: scroll;
}

.App {
  background-image: url("https://rare-gallery.com/thumbs/503217-background-corrosion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Yeseva One';
  font-size: 36pt;
  text-shadow: 0px 0px 4px black;  
}

h2 {
  font-size: 22pt;
  font-weight: 300;
}

h2:hover {
  cursor: pointer;
  color:#a9e4e8;
  /* outline: 1px solid #08cad8; */
  text-shadow: 0px 0px 3px #08cad8;
}

h3 {
  font-size: 16pt;
  margin-right: 10vw;
  margin-left: 10vw;
}

p {
  font-size: 15pt;
  text-align: justify;
  text-justify: inter-word;
}

.titleText {
  margin-right: 10vw;
  margin-left: 10vw;
}

.favorites {
  padding-left: 2em;
  text-indent: -2em;
}

.image {
  border: 1px solid grey;
  border-radius: 2px;
  height: 20vh;
  box-shadow: 0px 0px 8px grey;
}

.imageDiv {
  width: 100vw;
  padding-top: 7vh;
  padding-bottom: 2vh;
  /* position: fixed; */
  /* top:0px; */
  /* background-color: white; */
  /* z-index: 2; */
}

.text_section {
  width: 50vw;
}

.body {
  /* margin-top: 30vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 62vh;
  gap: 2vh;
}

.name {
  min-height: 50vh;
}

.booksSection {
  display: flex;
  min-height: 28vh;
  justify-content: center;
}

.coversDiv {
  height: 100%;
  /* width: 15vw; */
  margin-right: 3vw;
}

.covers {
  height: 20vh;
}

.booksText {
  width: 30vw;
}

section {
  padding-top: 2vh;
  -webkit-animation: fadein 1s linear;
  -moz-animation: fadein 1s linear;
  -o-animation: fadein 1s linear;
  -ms-animation: fadein 1s linear;
    animation: fadein 1s linear;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.linksBox {
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
  height: fit-content;
  justify-content: center;
}

.links {
  scale: 1.5;
  /* color: black; */
  padding-top: 15px;
}

.insta {
  /* scale: 89%; */
  width: 17px;
  height: 17px;
  /* margin-top: -1px; */
  /* height: 3px; */
}

.foot {
  position: static;
  bottom: 0px;
  right: 0px;
  height: 4vh;
  width: 20%;
  display: flex;
  justify-content: center;
  padding-right: 15px;
}

.footer {
  margin-top: 5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: static;
  bottom: 5px;
  background-color: rgba(0, 0, 0, .4);
}

.foot > p {
  font-size: 2vh;
}